/*-----------------------------------------------------------------------
- Reset
-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*-----------------------------------------------------------------------
- Generals
-----------------------------------------------------------------------*/
body {
  background-color: #0f172a;
  font-family: "Roboto Mono", monospace;
}

main {
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.page-sections, .contact, .projects, .about, .home-banner .presentation {
  display: flex;
  flex-flow: column wrap;
  height: calc(100dvh - 80px);
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
}

/*-----------------------------------------------------------------------
- Navbar
-----------------------------------------------------------------------*/
header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #4d5975;
  box-shadow: 0 1px 4px -1px #e4ece4;
  z-index: 99;
}
header .navbar {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #4d5975;
}
header .navbar ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 768px) {
  header .navbar ul {
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 200px;
    height: 100vh;
    right: -300px;
    gap: 40px;
    padding-top: 10vh;
    border-left: 1px solid white;
    transition: 0.5s;
    background-color: #4d5975;
  }
  header .navbar ul:hover {
    right: 0px;
  }
}
header .navbar ul li {
  text-decoration: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #e4ece4;
  font-size: 1.2rem;
}
header .navbar ul li a:hover {
  font-weight: 600;
}
header .navbar a {
  display: flex;
  align-content: center;
  justify-content: center;
}
header .navbar a img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
header .navbar .menu-hamburguesa {
  display: none;
  height: 45px;
  width: 45px;
  object-fit: cover;
}
@media (max-width: 768px) {
  header .navbar .menu-hamburguesa {
    display: block;
  }
  header .navbar .menu-hamburguesa:hover + ul {
    right: 0px;
  }
}

/*-----------------------------------------------------------------------
- Home
-----------------------------------------------------------------------*/
.home-banner {
  display: grid;
  grid-template-areas: "presentation personalImg";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  height: calc(100dvh - 80px);
  margin-top: 80px;
}
@media (max-width: 768px) {
  .home-banner {
    grid-template-areas: "personalImg" "presentation";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
.home-banner .presentation {
  grid-area: presentation;
}
@media (max-width: 768px) {
  .home-banner .presentation {
    height: auto;
    align-items: center;
    text-align: center;
  }
}
.home-banner .presentation h1 {
  font-size: clamp(3rem, 7vw, 5rem);
  color: #e4ece4;
}
.home-banner .presentation h2 {
  font-size: clamp(2rem, 7vw, 3rem);
  color: #e4ece4;
}
.home-banner .presentation p {
  font-size: 2rem;
  font-size: clamp(1rem, 7vw, 2rem);
  color: #e4ece4;
}
.home-banner .presentation .links {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .home-banner .presentation .links {
    justify-content: center;
  }
}
.home-banner .presentation .links a {
  color: #e4ece4;
  margin-right: 1rem;
  padding: 5px 0px;
  transition: 0.5s;
}
.home-banner .presentation .links a:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  transform: translate(0px, -0.2rem);
}
.home-banner .presentation .links a img {
  height: 2.6rem;
  object-fit: cover;
}
.home-banner .personal-img {
  grid-area: personalImg;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.home-banner .personal-img img {
  width: clamp(200px, 100%, 300px);
  object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .home-banner .personal-img img {
    width: 150px;
  }
}
.home-banner .scroll {
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  top: 90dvh;
  width: 2rem;
  height: 2rem;
  box-shadow: -3px 3px #e4ece4;
  animation: bounce 2s infinite;
  z-index: 1;
}
@media (max-height: 750px) {
  .home-banner .scroll {
    animation: none;
    transform: rotate(-45deg);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  40% {
    transform: translateY(-30px) rotate(-45deg);
  }
  60% {
    transform: translateY(-15px) rotate(-45deg);
  }
}
/*-----------------------------------------------------------------------
- About Me
-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
- My Projects
-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
- Contact Me
-----------------------------------------------------------------------*/
.contact {
  align-items: center;
  text-align: center;
}
.contact h2 {
  font-size: clamp(2.8rem, 7vw, 5rem);
  color: #e4ece4;
}
.contact p {
  margin-top: 1rem;
  font-size: 2rem;
  font-size: clamp(1rem, 6vw, 2rem);
  color: #e4ece4;
}
.contact .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
}
.contact .links a {
  color: #e4ece4;
  transition: 0.5s;
}
.contact .links a:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  transform: translate(0px, -0.2rem);
}
.contact .links a img {
  height: 3rem;
  object-fit: cover;
}
.contact .contact-form {
  width: clamp(280px, 80vw, 700px);
  background-color: white;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #e6e6e6;
}
.contact .contact-form form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
  width: 100%;
  height: auto;
  padding: 0 1rem;
}
.contact .contact-form form input,
.contact .contact-form form textarea {
  height: 3rem;
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}
.contact .contact-form form textarea {
  height: auto;
}
.contact .contact-form form input[type=submit] {
  padding: 0;
  width: 30%;
}

/*# sourceMappingURL=styles.css.map */
