/*-----------------------------------------------------------------------
- Reset
-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*-----------------------------------------------------------------------
- Generals
-----------------------------------------------------------------------*/
body {
  background-color: #0f172a;
  font-family: "Roboto Mono", monospace;
}

main {
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.page-sections, .contact, .projects, .about, .home-banner {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
}

/*-----------------------------------------------------------------------
- Navbar
-----------------------------------------------------------------------*/
header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #4d5975;
  box-shadow: 0 1px 4px -1px #e4ece4;
  z-index: 99;
}
header .navbar {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #4d5975;
}
header .navbar ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 768px) {
  header .navbar ul {
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 200px;
    height: 100vh;
    right: -300px;
    gap: 40px;
    padding-top: 10vh;
    border-left: 1px solid white;
    transition: 0.5s;
    background-color: #4d5975;
  }
  header .navbar ul:hover {
    right: 0px;
  }
}
header .navbar ul li {
  text-decoration: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #e4ece4;
  font-size: 1.2rem;
}
header .navbar ul li a:hover {
  font-weight: 600;
}
header .navbar a {
  display: flex;
  align-content: center;
  justify-content: center;
}
header .navbar a img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
header .navbar .menu-hamburguesa {
  display: none;
  height: 45px;
  width: 45px;
  object-fit: cover;
}
@media (max-width: 768px) {
  header .navbar .menu-hamburguesa {
    display: block;
  }
  header .navbar .menu-hamburguesa:hover + ul {
    right: 0px;
  }
}

/*-----------------------------------------------------------------------
- Home
-----------------------------------------------------------------------*/
.home-banner h1 {
  font-size: clamp(3rem, 7vw, 5rem);
  color: #e4ece4;
}
.home-banner h2 {
  font-size: clamp(2rem, 7vw, 3rem);
  color: #e4ece4;
}
.home-banner p {
  font-size: 2rem;
  font-size: clamp(1rem, 7vw, 2rem);
  color: #e4ece4;
}
.home-banner .links {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  width: 100%;
}
.home-banner .links a {
  color: #e4ece4;
  margin-right: 1rem;
  padding: 5px 0px;
  transition: 0.5s;
}
.home-banner .links a:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  transform: translate(0px, -0.2rem);
}
.home-banner .links a img {
  height: 2.6rem;
  object-fit: cover;
}
.home-banner .scroll {
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  top: 90dvh;
  width: 2rem;
  height: 2rem;
  box-shadow: -3px 3px #e4ece4;
  animation: bounce 2s infinite;
  z-index: 1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  40% {
    transform: translateY(-30px) rotate(-45deg);
  }
  60% {
    transform: translateY(-15px) rotate(-45deg);
  }
}
/*-----------------------------------------------------------------------
- About Me
-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
- My Projects
-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
- Contact Me
-----------------------------------------------------------------------*/
.contact {
  text-align: center;
}
.contact h2 {
  font-size: clamp(3rem, 7vw, 5rem);
  color: #e4ece4;
}
.contact p {
  font-size: 2rem;
  font-size: clamp(1rem, 7vw, 2rem);
  color: #e4ece4;
}
.contact .links {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  justify-content: center;
  width: 100%;
}
.contact .links a {
  color: #e4ece4;
  margin-right: 1rem;
  padding: 5px 0px;
  transition: 0.5s;
}
.contact .links a:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  transform: translate(0px, -0.2rem);
}
.contact .links a img {
  height: 3rem;
  object-fit: cover;
}
.contact .contact-form form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.contact .contact-form form div {
  position: relative;
  width: clamp(250px, 40%, 550px);
  height: 2rem;
}
.contact .contact-form form div input {
  height: 100%;
  width: 100%;
}
.contact .contact-form form div img {
  position: absolute;
  right: 1%;
  top: 10%;
  object-fit: cover;
  height: 25px;
}

/*# sourceMappingURL=styles.css.map */
