/*-----------------------------------------------------------------------
- Contact Me
-----------------------------------------------------------------------*/

.contact {
    @extend .page-sections;
    padding-bottom: 3rem;
    p {
        margin-top: 1rem;
        font-size: clamp(1rem, 6vw, 2rem);
        color: $text-color;
    }
    .links {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
        width: 100%;
        a {
            color: $text-color;
            transition: 0.5s;
            &:hover {
                filter: brightness(0.75);
                box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
                transform: translate(0px, -0.2rem);
            }
            img {
                height: 3rem;
                object-fit: cover;
            }
        }
    }
    .contact-form {
        width: clamp(280px, 80vw, 700px);
        background-color: white;
        border-radius: 5px;
        margin-top: 1rem;
        background-color: #e6e6e6;
        form {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin: 1rem 0;
            gap: 1rem;
            width: 100%;
            height: auto;
            padding: 0 1rem;
            input,
            textarea {
                height: 3rem;
                width: 100%;
                padding: 10px;
                border: 1px solid grey;
                border-radius: 5px;
                font-family: "Roboto Mono", monospace;
            }
            textarea {
                height: auto;
            }
            input[type="submit"] {
                padding: 0;
                width: 30%;
            }
        }
    }
}
