/*-----------------------------------------------------------------------
- Contact Me
-----------------------------------------------------------------------*/

.contact {
    @extend .page-sections;
    text-align: center;
    h2 {
        font-size: clamp(3rem, 7vw, 5rem);
        color: $text-color;
    }
    p {
        font-size: 2rem;
        font-size: clamp(1rem, 7vw, 2rem);
        color: $text-color;
    }
    .links {
        display: flex;
        flex-flow: row wrap;
        margin-top: 1rem;
        justify-content: center;
        width: 100%;
        a {
            color: $text-color;
            margin-right: 1rem;
            padding: 5px 0px;
            transition: 0.5s;
            &:hover {
                filter: brightness(0.75);
                box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
                transform: translate(0px, -0.2rem);
            }
            img {
                height: 3rem;
                object-fit: cover;
            }
        }
    }
    .contact-form form {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
        div {
            position: relative;
            width: clamp(250px, 40%, 550px);
            height: 2rem;
            input {
                height: 100%;
                width: 100%;
            }
            img {
                position: absolute;
                right: 1%;
                top: 10%;
                object-fit: cover;
                height: 25px;
            }
        }
    }
}
