/*-----------------------------------------------------------------------
- Generals
-----------------------------------------------------------------------*/

body {
    background-color: $bg-color;
    font-family: "Roboto Mono", monospace;
}
main {
    max-width: $max-width;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.page-sections {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    min-height: 100dvh;
    width: 100%;
    justify-content: center;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: $nav-height + 20px;
    h2 {
        font-size: clamp(2.8rem, 7vw, 5rem);
        color: $text-color;
    }
}
