/*-----------------------------------------------------------------------
- My Projects
-----------------------------------------------------------------------*/

.projects {
    @extend .page-sections;
    .project-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 2rem;
        width: 100%;
        margin-top: 1.5rem;
    }
    .project-extra {
        margin-top: 3rem;
        color: $text-color;
        a {
            text-decoration: none;
            color: $text-color;
            font-weight: bold;
            &:hover {
                color: rgb(167, 165, 165);
            }
        }
    }
}
